<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=(localdb)\v11.0;Initial Catalog=uniplac.radio.uniplay.teste;Integrated Security=True" providerName="System.Data.SqlClient" name="uniplac.radio.uniplay"/>
  </connectionStrings>
</configuration>