<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="uniplac.radio.uniplay">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="../Controladores/inicializador-aplicacao.js"></script>
    <script src="../Controladores/controlador-comum.js"></script>
    <script src="../Controladores/controlador-locutores.js"></script>

    <style>
        .jumbotron {
            width: 800px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            text-align: center;
        }

        .form-control {
            width: 800px;
        }
    </style>
</head>
<body ng-controller="controlador-locutores">
    <div class="page-header">
        <h1>Radio Uniplay<small></small></h1>
    </div>
    <div class="jumbotron">
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Apelido</th>
                <th>Biografia</th>
                <th>Data de nascimento</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="locutor in locutores">
                <td><input class="form-control" placeholder="Nome" ng-model="locutor.Nome" type="text" /></td>
                <td><input class="form-control" placeholder="Sobrenome" ng-model="locutor.Sobrenome" type="text" /></td>
                <td><input class="form-control" placeholder="Apelido" ng-model="locutor.Apelido" type="text" /></td>
                <td><input class="form-control" placeholder="Data de nascimento" ng-model="locutor.DataNascimento" type="text" /></td>
                <td><input type="button" class="glyphicon glyphicon-pencil" ng-click="marcar_para_edicao(locutor)" /></td>
                <td><input type="button" class="glyphicon glyphicon-remove" ng-click="marcar_para_exclusao(locutor)" /></td>
            </tr>
        </table>
        <div ng-model="locutor">
            <input class="form-control" placeholder="Nome" ng-model="locutor.Nome" type="text" />
            <input class="form-control" placeholder="Sobrenome" ng-model="locutor.Sobrenome" type="text" />
            <input class="form-control" placeholder="Apelido" ng-model="locutor.Apelido" type="text" />
            <input class="form-control" placeholder="Biografia" ng-model="locutor.Biografia" type="text" />
            <input class="form-control" placeholder="Data de nascimento" ng-model="locutor.DataNascimento" type="text" />
            <input class="form-control" type="button" ng-click="salvar(locutor)" value="Salvar" class="form-control glyphicon glyphicon-floppy-disk">
        </div>
    </div>
</body>
</html>

